$transition: 0.2s linear;

$blue-09:  #091336;
$blue-12:  #122945;
$blue-5e:  #5E7793;
$blue-89:  #899CB1;
$blue-4b:  #4B5675;
$blue-d8:  #D8E4FBFF;
$blue-de:  #DEEAFE;
$blue-ea:  #EAF0FA;
$blue-00:  #005FF8;
$blue-002:  #0024CB;
$blue-27:  #274BC8;
$blue-e9:  #E9EDF3;
$blue-ad:  #ADBFDF;
$blue-f2:  #F2F6FB;
$blue-e9:  #E9EDF3CC;
$green-00:  #00A775;
$red-ea:  #EA1A4F;
$yellow-ff:  #FFD500;
$white: #fff;
